
        @font-face {
            font-family: 'Leckerli One';
            src: url('path/to/LeckerliOne-Regular.ttf') format('truetype');
        }

        body {
            font-family: 'Leckerli One', sans-serif;
        }
        body {
            background-color: #17202A;
            color: #000000;
            font-family: 'Leckerli One', cursive;
            background-image: url('/static/images/bg1.png');
            background-size: cover;
            background-repeat: no-repeat;
            background-attachment: fixed;
        }
        .container1 {
            width: 500px;
            height: 610px;
            margin: 0 auto;
            margin-right: 10%;
            margin-top: 4%;
            margin-bottom: 100px;
            background-color: #D9D9D9;
            border-radius: 10px;
            box-shadow: 0 9px 10px rgb(2, 2, 2);
            display: flex;
            flex-direction: column;
            align-items: center;

        }
        
        /* Styling for the textarea */
        .input-askbox {
            width: 90%; /* Full width of the container */
            height: 100%; /* Full height of the container */
            max-height: calc(100% - 60px); /* Adjust height to leave space for other content (e.g., image) */
            margin-top: 30px;
            border: none; /* Remove border from textarea */
            border-radius: 5px; /* Rounded corners */
            background-color: #D9D9D9; /* Background color */
            font-size: 20px; /* Font size */
            outline: none; /* Remove default outline on focus */
            font-family: 'Times New Roman', Times, serif; /* Font family */
            resize: vertical; /* Allow vertical resizing */
        }
        
        .container {
            width: 500px;
            height: 500px;
            margin: 0 auto;
            margin-right: 10%;
            margin-top: 4%;
            margin-bottom: 100px;
            background-color: #D9D9D9;
            border-radius: 10px;
            box-shadow: 0 9px 10px rgb(2, 2, 2);
        }

        .messages {
            height: 500px;
            width: 500px;
            overflow-y: scroll;
            background-color: #fafafa;
        }
        .message{
            padding: 10px;
            border-radius: 5px;
            margin-bottom: 10px;
            margin-top: 10px;
            margin-left: 60px;
            margin-right: 5px;
            font-family: 'Times New Roman', Times, serif;
            font-size: medium;
        }
        .user {
            background-color: #e0e1e2;
            text-align: right;
        }
        .bot {
            background-color: #01379B;
            color: whitesmoke;
            padding: 10px;
            border-radius: 5px;
            margin-bottom: 10px;
            margin-top: 10px;
            margin-right: 60px;
            margin-left: 5px;
            font-family: 'Times New Roman', Times, serif;
            font-size: medium;
        }
        .bot ul {
            padding-left: 20px;
        }
        .input-box {
            width: 480px;
            height: 30px;
            padding: 10px;
            border-radius: 5px;
            border: none;
            background-color: #D9D9D9;
            margin-right: 10px;
            font-family: 'Times New Roman', Times, serif;
            font-size: medium;
        }
        .send-button {
            padding: 10px 20px;
            border: none;
            border-radius: 5px;
            background-color: #ABB2B9;
            color: #17202A;
            cursor: pointer;
        }
        .button1 {
            padding: 10px 30px;
            margin: 10px;
            border: 0;
            border-radius: 100px;
            background-color: #D9B125;
            color: #000000;
            font-weight: bolder;
            font-family:'Leckerli One', sans-serif;
            font-size: 17px;
            transition: all 0.5s;
        }
        .button1:hover {
            background-color: #d8bc56;
            box-shadow: 0 0 20px #6fc5ff50;
            transform: scale(1.1);
        }
        .button1:active {
            background-color: #3d94cf;
            transition: all 0.25s;
            box-shadow: none;
            transform: scale(0.98);
        }
        .button3 {
            margin-left: 36%;
            margin-top: 3%;
        }
        .typing-text {
    color: #FF5733; /* Set the text color */
    font-weight: bold; /* Make the text bold */
    font-size: 1.5em; /* Increase the font size */
    animation: glow 1.5s infinite; /* Apply a glowing animation */
        }

        .slideshow-container {
            width: 600px; /* Set the width to show only three cards */
            position: relative;
            overflow: hidden;
            margin: auto;
            margin-left: 23%;
        }

        .slides {
            display: flex;
            transition: transform 0.5s ease-in-out;
            width: calc(190px * 7); /* Adjust this value based on the total number of slides */
            font-family: 'Leckerli One', sans-serif;
        }

        .card {
            width: 200px;
            height: 184px;
            border-radius: 10px;
            padding: 6px;
            margin-top: 50px;
            background: linear-gradient(to bottom, #fcf5f3, #063d91);
            box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 50px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 26px -18px inset;
            margin: 0 15px;
        }

        .prev, .next {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            background-color: rgba(0, 0, 0, 0.5);
            color: white;
            border: none;
            padding: 10px;
            cursor: pointer;
            z-index: 1;
        }

        .prev {
            left: 10px;
        }

        .next {
            right: 10px;
        }
        .disclaimer-box {
            border: 2px solid #ffcc00; /* Border color */
            background-color: #fffbea; /* Background color */
            border-radius: 10px; /* Rounded corners */
            padding: 15px; /* Padding inside the box */
            margin-top: 10px;
            margin-left: 10px;
            margin-right: 10px;
            display: flex; /* Use flex for icon and text layout */
            align-items: center; /* Align items vertically */
        }

        .disclaimer-box .icon {
            font-size: 24px; /* Size of the icon */
            margin-right: 10px; /* Space between icon and text */
            color: #ffcc00; /* Icon color */
        }

        .disclaimer-box p {
            margin: 0; /* Remove default paragraph margin */
            font-family: Arial, sans-serif; /* Font style */
            font-size: 12px; /* Font size */
            color: #333; /* Text color */
        }
        .vedio{
            margin-top: 7%;
            margin-left: 27%;

        }

        .carousel-container {
            width: 80%;
            margin: auto;
            overflow: hidden;
            position: relative;
            margin-top: 40px;
            margin-bottom: 50px;
        }

        .carousel-wrapper {
            display: flex;
            width: 400%; /* 4 slides of 3 cards each */
            animation: slide 80s infinite; /* Adjust the total duration */
        }

        .carousel-card {
            width: 33.3333%; /* Each card takes up 1/3 of the carousel width */
            box-sizing: border-box;
            text-align: center;
            padding: 10px;
            margin-left: 30px;
            background: linear-gradient(to bottom, rgba(252, 245, 243, 0.5), rgba(209, 209, 209, 0.5)), url('static/images/bgcard.jpg') no-repeat center center/cover;
            border-radius: 10px;
        }

        .carousel-card img {
            width: 100%;
            height: 200px;
            display: block;
            border-radius: 7px;
        }

        .carousel-card h2 {
            margin: 10px 0 0;
            font-size: 1.5em;
            color: #333; /* Optional: Adjust text color */
        }

        @keyframes slide {
            0% { transform: translateX(0); }
            25% { transform: translateX(-30%); }
            50% { transform: translateX(-66.6666%); }
            75% { transform: translateX(-99.9999%); }
            100% { transform: translateX(-133.3333%); }
        }

        .recomend-cards {
            background: linear-gradient(to bottom, #fcf5f3, #063d91);
            width: 800px;
            height: 130px; 
            justify-content: space-between; 
            border-radius: 8px; 
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
            color: #fff;
            font-family: 'Leckerli One', sans-serif; 
            text-align: left; 
            margin-bottom: 30px; 
            padding: 20px; 
            position: relative;
            margin-left: 21%;
        }
        
        .recomend-cards-content {
            margin-bottom: 10px; 
            color: #000000;
        }
        
        .reply-button {
            background-color: #063d91;
            color: #fff;
            border: none;
            border-radius: 4px;
            padding: 10px 20px;
            cursor: pointer;
            font-size: 14px;
            font-family: 'Leckerli One', sans-serif; 
            transition: background-color 0.3s;
        }
        
        .reply-button:hover {
            background-color: #041e42;
        }
        
        .answer-section {
            display: none;
            margin-top: 10px;
            width: calc(100% - 40px); /* Adjust to fit within padding */
        }
        
        .answer-section textarea {
            width: calc(100% - 100px); /* Adjust to fit within padding and send button */
            height: 60px;
            border-radius: 4px;
            padding: 10px;
            border: 1px solid #ddd;
            box-sizing: border-box;
            margin-right: 10px; /* Space between textarea and send button */
        }
        
        .send-button {
            background-color: #063d91;
            color: #fff;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            font-size: 14px;
            font-family: 'Leckerli One', sans-serif; 
            transition: background-color 0.3s;
            display: inline-block;
            margin-top: 10px;
            
        }
        
        .send-button:hover {
            background-color: #041e42;
        }
        
        .dropdown-button {
            background: #063d91;
            color: #fff;
            border: none;
            border-radius: 4px;
            padding: 10px 20px;
            cursor: pointer;
            
            font-size: 16px;
            font-family: 'Leckerli One', sans-serif;
            transition: background-color 0.3s;
            position: absolute;
            top: 10px; /* Position the button at the top of the card */
            right: 10px; /* Align the button to the right */
        }
        
        .dropdown-content {
            display: none;
            position: absolute;
            background-color: #f2f2f2;
            color: #000000;
            width: 100%;
            border-radius: 4px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
            z-index: 1;
            max-height: 100px; /* Adjust based on content */
            overflow-y: auto;
            padding: 10px;
            box-sizing: border-box;
            top: 95px; /* Position dropdown below the card content */
            left: 0; /* Align dropdown to the left edge of the card */
        }
        
        .reply-list {
            margin-top: 10px;
        }
        
        .recomend-all-cards {
            margin-left: 27%;
            width: calc(100% - 27%); /* Adjust width based on left margin */
        }

        .reply-text {
            background-color: #fff;
            color: #000000;
            border-radius: 4px;
            padding: 10px;
            font-family: 'Leckerli One', sans-serif;
        }

        .recomend-all-cards {
            margin-left: 27%;
            width: calc(100% - 27%);
        }
        

        
        

    
@keyframes glow {
    0% {
        text-shadow: 0 0 2px #FF5733, 0 0 4px #FF5733;
    }
    50% {
        text-shadow: 0 0 4px #FF5733, 0 0 8px #FF5733;
    }
    100% {
        text-shadow: 0 0 2px #FF5733, 0 0 4px #FF5733;
    }
}

